body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #000056;
    margin-top: 50px;
}

button {
    padding: 10px 20px;
    background-color: #039be5;
    /* Firebase Blue */
    color: white;
    border: none;
    cursor: pointer;
}